
<header class="header">
    


    <div class="icono_header">
        <h1><a [routerLink]="['/home']">ventas y soluciones</a></h1>

        <nav>
            <ul>
                
                <li [routerLink]="['/Nosotros']">Nosotros</li>
                <li [routerLink]="['/anuncios']" >Anuncios</li>
                <li>Blog</li>
                <li [routerLink]="['/contacto']">contacto</li>
                <li [routerLink]="['/auth/login']" >login</li>
            </ul>
        </nav>
    </div>

 

</header>