


<div class="modal" >
    <div class="modal-content" >
      <div class="modal-header">
        <h2>Editar Vendedor</h2>
        <span class="closer" (click)="cancelarEdicion()" >X</span>
      </div>
  
      <form (submit)="saveChanges()">
        <div class="card-employet">
  
       
  
          <div class="body-conten">
            
            <div class="info">
              <label class="item-label">ID propiedad:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.idpropiedades" name="idpropiedades"  disabled>
  
              <label class="item-label">titulo:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.titulo" name="titulo"> 
  
              <label class="item-label">precio:</label>
              <input type="number" class="form-control" [(ngModel)]="crearpropiedadfroms.precio" name="precio">

            
              <label class="item-label">descripcion:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.descripcion" name="descripcion">
  
              <label class="item-label">estado</label>
              <select class="form-control" [(ngModel)]="crearpropiedadfroms.estado" name="estado">
                <option [value]="0">en venta</option>
                <option [value]="1">vendido</option>
                <option [value]="2"> eliminado</option>
              </select>
  
            </div>
            <div class="info-2">

              <label class="item-label">ID vendedor:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.vendedor_idvendedor" name="vendedor_idvendedor"  disabled>
            
              <label class="item-label">habitaciones:</label>
              <input type="number" class="form-control" [(ngModel)]="crearpropiedadfroms.habitaciones" name="habitaciones">
  
      
              <label class="item-label">baños:</label>
              <input type="number" class="form-control" [(ngModel)]="crearpropiedadfroms.wc" name="baños">
  
         
              <label class="item-label">parqueaderos:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.parqueadero" name="parqueaderos">
  
    
              <label class="item-label">ciudad:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.ciudad" name="ciudad">

              <label class="item-label">descripcion:</label>
              <input type="text" class="form-control" [(ngModel)]="crearpropiedadfroms.descripcion" name="descripcion">
            </div>
  
            <label for="image">Imagen (URL)</label>
            <input type="file" id="image" name="image" accept="image/*"  multiple (change)="handleImage($event)">
  
  
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>