<app-header></app-header>



<section class="nosotros_section">

    <h2>Conoce sobre nosotros</h2>

<div  class="nosotros_cuerpo">
    <div class="nosotros_imagen">
        <img src="../../../assets/image/nosotros.jpg" alt="">
        </div>
        <div class="nosotros_texto">
            <h2>Conoce mas de nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tenetur sapiente, totam aut amet ut aspernatur placeat ipsa optio culpa, qui officia error explicabo! Soluta, quo? Delectus accusantium numquam eos?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolor perferendis cumque minima id eaque neque necessitatibus qui eligendi doloremque, voluptatum minus velit assumenda eius tenetur repudiandae? Nostrum, placeat. Placeat.
                lorem
              
            </p>
        </div>

</div>



</section>

<section class="contenido_section">



    <div class="section_cuerpo ">



        <div class="card">

            <div class="header_card">
                <img src="../../assets/image/icono1.svg" alt="Candado">

                <h2>seguridad</h2>
            </div>
            <div class="card_contenido">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex quas magni quia enim itaque
                    exercitationem tempore molestiae culpa, voluptatem iusto fuga minima omnis a? Labore consequatur
                    molestias tempore odit?
                </p>
            </div>
        </div>
        <div class="card">

            <div class="header_card">
                <img src="../../assets/image/icono2.svg" alt="">
                <h2>precio</h2>
            </div>
            <div class="card_contenido">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex quas magni quia enim itaque
                    exercitationem tempore molestiae culpa, voluptatem iusto fuga minima omnis a? Labore consequatur
                    molestias tempore odit?
                </p>
            </div>
        </div>
        <div class="card">

            <div class="header_card">
                <img src="../../assets/image/icono3.svg" alt="">
                <h2>A Tiempo</h2>
            </div>
            <div class="card_contenido">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex quas magni quia enim itaque
                    exercitationem tempore molestiae culpa, voluptatem iusto fuga minima omnis a? Labore consequatur
                    molestias tempore odit?
                </p>
            </div>
        </div>

    </div>

</section>
<app-footer></app-footer>